.c-vehicle-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.c-vehicle {
  border: 1px solid #c1c1c1;
  padding: 10px;
}

.c-vehicle__title {
  text-transform: uppercase;
}

.c-vehicle__image {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .c-vehicle-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1080px) and (max-width: 1199px) {
  .c-vehicle-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 640px) and (max-width: 1079px) {
  .c-vehicle-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
